@import "str-to-list";

.category-breadcrumb {
  .select-kit {
    &.combo-box:not(.has-selection) {
      &.tag-drop {
        .select-kit-header {
          @each $category-slug, $tag-label in $tag-nested-list {
            body.category-#{$category-slug} & {
              .selected-name {
                &:before {
                  content: $tag-label;
                }
                .name {
                  display: none;
                }
              }
            }
          }
        }
      }
      &.category-drop {
        .select-kit-header {
          @each $category-slug, $category-label in $category-nested-list {
            body.category-#{$category-slug} & {
              .selected-name {
                &:before {
                  content: $category-label;
                }
                .name {
                  display: none;
                }
              }
            }
          }
        }      
      }
    }
  }
}
